POCKETBASE_URL=https://pocketbase.likweitan.eu.org
POCKETBASE_ADMIN_EMAIL=your-admin@example.com
POCKETBASE_ADMIN_PASSWORD=your-admin-password
POCKETBASE_COLLECTION=exchange_rates
BASE_CURRENCY=SGD
TARGET_CURRENCY=MYR
API_BEARER_TOKEN=super-secure
PORT=5000
